<!DOCTYPE html>
<html lang="en" class="full-height">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Warriors</title>

    {% block stylesheet %}{% endblock %}
</head>

<body>

    <header>
        {% block navegador %}{% endblock %}
    </header>
    {% block carousel %}{% endblock %}


    {% block contenido %}{% endblock %}

    {% block contacto %}{% endblock %}

    {% block footer %}{% endblock %}


    </footer>
    <!--/.Footer-->


    {% block JavaScript %}{% endblock %}



</body>

</html>
