{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br><br><br>
<img src="{{ asset('bundles/pagina/img/corporativo2.jpg')}}" class="img-fluid w-100">

<div class="divider-new pt-2">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Corporativo</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="text-center">
        Cuando se habla de ataques informáticos,
        quizás lo primero que se nos viene a la mente es
        la intrusión de páginas web, la denegación de
        servicios y el robo de datos sobre todo en los
        grandes corporativos, ya sea para que los perpetradores
        se hagan de secretos industriales o
        para demorar los planes de la competencia,
        todo lo cual es una dolorosa realidad, y es que el
        valor estratégico y financiero de la información
        que se maneja particularmente en este segmento
        empresarial se ha convertido en un atractivo
        negocio para la ciberdelincuencia.
      </p>
    </div>
    <div class="col-md-6">
      <p class="text-center">
        Ante este panorama, y considerando su capacidad
        económica, las grandes empresas pueden
        darse el lujo de adquirir costosas soluciones
        para la protección de sus sistemas y redes,
        aunque muchas veces los altos precios no son sinónimo
        de mejores resultados. La protección
        perimetral en una red corporativa es primordial
        debido a que actualmente son mayores los ataques
        que pueden afectar el funcionamiento y
        operatividad de la organización; por ello,
        Warriors ofrece alternativas sólidas y asequibles
        que evitan cualquier tipo de ataque, ya sea “Man
        in the Middle”, denegación de servicios (DDOS),
        entre otros.
      </p>
    </div>
  </div>
</div>

<div class="parallax">
</div>
<br><br>
<div class="container">
  <div class="row">
    <p class="text-center">
      Tomando en cuenta las exigencias y el más avanzado nivel de protección requerido
      por las grandes corporaciones, Warriors ha diseñado una amplia gama de
      productos de seguridad que incluyen herramientas para el filtrado de contenido,
      el control de usuarios, el bloqueo de ataques por puertos (HTTP, HTTPS, FTP y
      SFTP), la administración de consumo web, aplicaciones de backup/restore, bloqueo
      de spam y virus, seguridad ante suplantación de dominios, gestión de listas
      blancas y negras, generación de privilegios de acceso, protección a usuarios y
      equipos remotos, definición de reglas manuales o aplicación de las ya preestablecidas,
      así como generación de reportes y gráficas, entre otros recursos que
      definen a cada modelo y familia de appliances.
    </p>
  </div>

  <div class="row wow zoomInDown">
    <div class="col-md-4">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/newgeneration"><img src="{{ asset('bundles/pagina/img/WDNG.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">New Generation</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/wmail"><img src="{{ asset('bundles/pagina/img/mail.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">Mail</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card example hoverable">
        <div class="view overlay hm-white-slight">
          <a href="/firewall"><img src="{{ asset('bundles/pagina/img/firewall.png')}}" class="img-fluid"></a>
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">Firewall</h3>

        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}
