{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br><br><br>
<img src="{{ asset('bundles/pagina/img/WDF-01.jpg')}}" class="img-fluid w-100">
<br><br>
<div class="container">
  <div class="row">
      <img src="{{ asset('bundles/pagina/img/warriors_firewall.png')}}" class="img-fluid mx-auto d-block">
  </div>
</div>

<div class="divider-new pt-1">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Warriors Defender Firewall (WDF)</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        Warriors Defender Firewall es una solución Integrada
        de software y hardware de seguridad perimetral para
        proteger y controlar su red de ataques externos e
        internos, de acuerdo a las políticas de la organización,
        además, les ayuda a incrementar la productividad de
        su red corporativa.
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid mx-auto d-block" src="{{ asset('bundles/pagina/img/equipon4.png')}}" alt="">
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center font-weight-bold red-text">Controle su infraestructura</h3>
      <p>
        Los equipos Warriors Defender Firewall
        proporcionan un alto desempeño para
        el control de su infraestructura de red,
        además, brinda toda información sobre
        las conexiones y los históricos del tráfico
        de red.
      </p>
    </div>
    <div class="col-md-6">
      <h3 class="text-center font-weight-bold red-text">Administración intuitiva</h3>
      <p>
        Warriors Defender Firewall presenta una
        interfaz web con protocolo seguro de
        administración fácil y remota. Permite
        definir, administrar y controlar políticas
        empresariales desde un lugar local y remoto.
      </p>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center font-weight-bold red-text">Reportes y Monitoreo</h3>
      <p class="text-center">
        Warriors Defender Firewall brinda herramientas para
        contar con la información requerida sobre su red.
      </p>
    </div>
  </div>
</div>

{% endblock %}
