{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br><br><br>
<img src="{{ asset('bundles/pagina/img/WDNGDIAGRAM.jpg')}}" class="img-fluid w-100">
<br><br>
<div class="container">
  <div class="row">
      <img src="{{ asset('bundles/pagina/img/warriors_newGeneration.png')}}" class="img-fluid mx-auto d-block">
  </div>
</div>

<div class="divider-new pt-2">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Warriors Defender New Generation (WDNG)</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="{{ asset('bundles/pagina/img/equipon2.png')}}" alt="">
    </div>
    <div class="col-md-6">
      <p>
        WDNG es una solución especializada en la seguridad
        perimetral con protección de datos a ataques
        externos e internos, soporte para VPN, filtrado de
        contenido, IDS/IPS, limitador y balanceo de cargas,
        antivirus perimetral.<br><br>
        Realiza un análisis más detallado para detectar y
        prevenir de las últimas amenazas en malware y virus.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center font-weight-bold red-text">Ventajas</h3>
      <p>
        Controle y filtre el contenido del usuario a internet.<br>
        Obtenga protección completa con nuestro Firewall de Seguridad.<br>
        Controle perfiles de navegación.<br>
        Defina, administre y controle políticas empresariales.
      </p>
    </div>
    <div class="col-md-6">
      <p>
        WDNG soporta múltiples enlaces y la administración
        en Alta Disponibilidad, además, brinda reportes y
        monitoreo en tiempo real.<br><br>
        Esta solución es ideal para organizaciones ya sea
        Pymes o Corporativos que requieran una protección
        completa en su red y deseen optimizar sus recursos
        para aumentar su operatividad.
      </p>
    </div>
  </div>
</div>


{% endblock %}
