{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br><br><br>
<img src="{{ asset('bundles/pagina/img/WDSDIAGRAMA-01.jpg')}}" class="img-fluid w-100">
<br><br>
<div class="container">
  <div class="row">
    <img src="{{ asset('bundles/pagina/img/warriors_storage.png')}}" class="img-fluid mx-auto d-block">
  </div>
</div>
<div class="divider-new pt-2">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Warriors Defender Storage (WDS)</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="{{ asset('bundles/pagina/img/equipon3.png')}}" alt="">
    </div>
    <div class="col-md-6">
      <p>
        Es una solución de almacenamiento de datos, el cual
        ayuda a cualquier empresa a mejorar su productividad,
        reducir riesgos, simplificar la administración ya que
        permite asegurar la disponibilidad y la seguridad de la
        información.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="text-center font-weight-bold red-text">Warriors Defender Storage ofrece:</h3>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3 class="text-center red-text">Privacidad:</h3>
      <p class="text-center">
        Sus respaldos quedarán en
        la nube o en sitio. Evitando
        así que otra compañía
        pueda involucrarse en el
        manejo de sus archivos.
      </p>
    </div>

    <div class="col-md-3">
      <h3 class="text-center red-text">Disponibilidad:</h3>
      <p class="text-center">
        Puede acceder a los
        archivos desde cualquier
        lugar.
      </p>
    </div>

    <div class="col-md-3">
      <h3 class="text-center red-text">Administración:</h3>
      <p class="text-center">
        El administrador puede obtener,
        opcionalmente, mensajes
        de correo electrónico
        que confirma el respaldo
        exitoso.
      </p>
    </div>

    <div class="col-md-3">
      <h3 class="text-center red-text">Respaldo:</h3>
      <p class="text-center">
        Una vez configurado el sistema, el
        respaldo comienza sin necesidad
        que el usuario interactué con la
        aplicación, solamente programando
        un horario.
      </p>
    </div>
  </div>
</div>


{% endblock %}
