{% extends 'PaginaBundle:Default:frontend.html.twig' %}

{% block carousel %}{% endblock %}

{% block contenido %}
<br><br><br><br>
<img class="img-fluid w-100" src="{{ asset('bundles/pagina/img/DWDM.png')}}">
<br><br>
<div class="container">
  <div class="row">
    <img class="img-fluid mx-auto d-block" src="{{ asset('bundles/pagina/img/warriors_mail.png')}}">
  </div>
</div>
<div class="divider-new pt-2">
    <h1 class="h1-responsive wow fadeIn font-bold" data-wow-delay="0.2s">Warriors Defender Mail (WDM)</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        Warriors Defender Mail es una solución que se
        puede brindar ya sea en sitio o en la nube, que
        proporciona seguridad a los servidores de correo
        electrónico de su organización. Esta aplicación
        emplea lo último en tecnología para el análisis y
        filtrado de contenido en el tráfico de mensajes
        desde o hacia las cuentas de un dominio.
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="{{ asset('bundles/pagina/img/equipo1.png')}}" alt="">
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="{{ asset('bundles/pagina/img/warrior_dashboard.jpg')}}" alt="">
    </div>
    <div class="col-md-6">
        <h3 class="text-center font-weight-bold red-text">Warriors Defender Mail Ofrece:</h3>
        <p>
          Interfaz gráfica amigable e intuitiva.<br>
          Información confiable sobre el estado del equipo.<br>
          Generación de reportes.<br>
          Creación de reglas.<br>
          Creación de perfiles de usuarios.<br>
          Manejo de listas blancas y negras.<br>
          Protección contra ataques DDoS.<br>
          Protección contra virus.<br>
          Protección contra phishing.<br>
          Protección contra spam.
        </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center font-weight-bold red-text">Interfaz gráfica amigable e intuitiva:</h3>
      <p class="text-center">
        Warriors Defender Mail cuenta con un diseño amigable e intuitivo que permite al
        usuario explorar las opciones disponibles sin el riesgo de realizar modificaciones
        que perjudiquen el funcionamiento de la solución.
      </p>
    </div>
  </div>
</div>
{% endblock %}
